*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Inter", sans-serif;
}
body {
  background-image: url(/assets/Default.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
.navbar {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #212121;
  padding: 2em 0em;
  padding-bottom: 1em;
  padding-top: 0.1em;
  border-radius: 10px 10px 0px 0px;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon img {
  width: 24px;
}

.icon p {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: white;
}
span {
  color: red;
}
.infor {
  color: white;
  text-align: center;
}

.infor span {
  color: red;
}

.Chatflix {
  font-size: 2em;
  font-weight: bolder;
  margin-bottom: 0.5em;
}

.p {
  color: #aaa7a7;
  font-size: 14px;
  width: 100%;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1em;
  margin: 0.5em auto;
  flex: 1;
}

button {
  padding: 0.5em 1.5em;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.img img {
  max-width: 300px;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  background-color: #212121;
  padding: 2em 0em;
  padding-top: 0.1em;
  border-radius: 10px 10px 0px 0px;
  color: white;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 24px;
}

.icon p {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: white;
}
