* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/Default.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 10px;
  height: 100vh;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.body-container {
  display: flex;
  justify-content: right;
}

.body {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  display: flex;
  flex-direction: column;
}

.Friends {
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  margin-left: 0.4em;
}

.profile-container {
  margin: 1em auto;
  border-radius: 10px;
  height: fit-content;
  width: 40vh;
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.119);
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.749);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.1px solid rgba(255, 255, 255, 0.3);
}

.profile {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 45vh;
  align-items: center;
  border-bottom: 0.5px solid white;
  height: fit-content;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: 0.5em;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: row;
}

.profile img {
  height: 50px;
  width: 50px;
}

.icon-image {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
}

.icon-image img {
  height: 18px;
  width: 16px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.box img {
  margin-bottom: 0.5em;
}
.button {
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 0.5em;
  padding: 0.3em;
}
.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #212121;
  padding: 2em 0em;
  padding-bottom: 1em;
  padding-top: 0.1em;
  border-radius: 10px 10px 0px 0px;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon img {
  width: 24px;
}

.icon p {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: white;
}
.done-image {
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
}

@media (min-width: 380px) {
  .profile-container {
    width: 35vh;
  }
  .profile {
    width: 35vh;
  }
}
@media (min-width: 400px) {
  .profile-container {
    width: fit-content;
    padding: 1em 1em;
  }
}
